---
interface Props {
  title: string;
  image?: string;
}

const { title, image } = Astro.props;
---

<a href="#" class="category-card">
    <div
        class="category-image"
        style={image ? `background-image: url('${image}')` : ''}
    ></div>

    <h3 class="category-title">{title}</h3>
</a>

<style>
    @reference "../../styles/global.css";

    .category-card {
        @apply relative block rounded-2xl overflow-hidden shadow-lg transition-all duration-500 ease-in-out;
        flex: 0.4;
        min-width: 48px;
    }

    .category-card:hover {
        flex: 5;
    }

    .category-image {
        @apply absolute inset-0 w-full h-full bg-gray-900;
        background-size: cover;
        background-position: center;
    }

    .category-title {
        position: absolute;
        top: 95%;
        left: 1rem;
        bottom: 10%;
        margin: 0;
        z-index: 10;
        writing-mode: vertical-rl;
        transform: translateY(-50%) rotate(180deg);
        font-size: 1 rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.9);
        white-space: nowrap;
        font-family: 'Roboto Mono', monospace;
    }
</style>
