---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar/Navbar.astro';
import CategoryCard from '../components/category/CategoryCard.astro';

const categories = [
	{ title: 'Game Development', image: '/images/game-development.jpg', link: '/projects/games' },
	{ title: 'Art', image: '/images/art.jpg', link: '/projects/art' },
	{ title: '3D Models', image: '/images/3d-models.jpg', link: '/projects/models' },
	{ title: 'Cyber Security', image: '/images/cyber-security.jpg', link: '/projects/security' },
	{ title: 'Programming', image: '/images/programming.jpg', link: '/projects/programming' },
	{ title: 'Other', image: '/images/other.jpg', link: '/projects/other' }
];
---

<Layout>
	<Navbar />
	<section class="categories">
		<h1 class="title">
			/!\ THIS PORTFOLIO IS A WORK IN PROGRESS /!\
		</h1>
		<h2 class="title">
			MY PROJECTS
		</h2>

		<div class="categoryGrid">
			{categories.map((cat) => (
				<CategoryCard 
				title={cat.title} 
				image={cat.image} 
				link={cat.link}
				/>
			))}
		</div>
	</section>
</Layout>

<style>

	@reference "../styles/global.css";

	.categories {
        @apply flex flex-col flex-1 mt-4 pb-6 w-11/12 mx-auto;
    }

    .title {
        @apply text-black text-2xl font-bold mb-4 ;
		font-size: 200%;
		font-family: "Roboto Mono", monospace;
	}

    .categoryGrid {
        @apply flex flex-row gap-4 flex-1 w-full;
    }

</style>
