---
import Layout from "../../layouts/Layout.astro";
import Navbar from '../../components/navbar/Navbar.astro';
import ProjectCard from '../../components/project/ProjectCard.astro';

const models = [
    {
        title: "Model 1",
        description: "Description of model 1.",
        image: "/path/to/image1.jpg",
        link: "#"
    },
    {
        title: "Model 2",
        description: "Description of model 2.",
        image: "/path/to/image2.jpg",
        link: "#"
    },
    {
        title: "Model 3",
        description: "Description of model 3.",
        image: "/path/to/image3.jpg",
        link: "#"
    }
];
---

<Layout>
    <Navbar />
    <section class ="gameprojects">
        
        <h1 class="Title">
            Models
        </h1>

        <div class="projects-grid">
            {models.map(model => (
                <ProjectCard 
                    title={model.title} 
                    description={model.description} 
                    image={model.image} 
                    link={model.link} 
                />
            ))}
        </div>

    </section>
</Layout>

<style>
    @reference "../../styles/global.css";

    .gameprojects {
        @apply flex flex-col flex-1 mt-4 pb-6 w-11/12 mx-auto;
    }

    .Title {
        @apply text-black text-2xl font-bold mb-4;
        font-size: 200%;
        font-family: "Roboto Mono", monospace;
    }

    .projects-grid {
        @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full; 
    }

</style>